*{


    padding:0;
    margin:0;
    color:brown;
    text-align: center;
}

html, body{
    background-color: aqua;
}

nav,section, footer, article, aside{
     border:10cm saddlebrown;
     padding: 10cm;

}