*{
    padding:0;
    margin:0;
    color:#020202;
    text-align: center;
}

html, body{
    background-color: #1aa52c;
}

.main-container{
    border:4px solid #f13933;
    border-radius: 10px;
    margin: 2rem;
    background-color: rgb(50, 50, 50);
}

nav, section, footer, article, aside{
    border: 3px solid #070707;
    margin: 1rem;
    border-radius: 10px;
    padding: 1rem;
}

table{
align-self: center;
box-align: center;

}

article, aside{
    width:40%;
    display: inline-block;
    height: 200px;
    background-color: #b926a8;

}

nav, section, footer{
    background-color: #2cc7db;
}